nav { grid-area: n; }
header    { grid-area: h; }
main   { grid-area: m; }
footer { grid-area: f; }

body {
  display: grid;
  grid: " h h  " auto
        " n m   " auto
        " f f  " auto
        / 1fr 8fr;
}