nav { grid-area: n; }
header    { grid-area: h; }
main   { grid-area: m; }
footer { grid-area: f; }

body {
  display: grid;
  grid: " h h h  " auto
        " n n n  " auto
        " . m .  " auto
        " f f f  " auto
        /1fr 3fr 1fr ;
      }